<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>regexr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AECFCED1C78494F00284AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AECFD011C78495000284AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AECFD0C1C78495000284AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
